
<div class="container-fluid">
  <div class="row header">
    <div class="col-md-4 local">
      <app-weather-local></app-weather-local>
    </div>
    <div class="col-md-4 header-title">
      <h1>
        App Weather
      </h1>
    </div>
    <div class="col-md-4"></div>
    <div class="container middle">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 search">
          <app-weather-search (changeListEvent)="changeList($event)"></app-weather-search>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>

  </div>
  <div class="row">
    <app-weather-list [updateList]="updateListInChild"></app-weather-list>
  </div>
</div>
